:root {
    --padding-text: 1rem;
    --main-section-max-width: 1200px;
    --secondary-section-max-width: 1000px;
    --black: black;
    --white: seashell;
  }
  
  body {
    background-color: salmon;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    font-size: 22px;
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    height: 150px;
    width: 100%;
  }
  
  .navlinks {
    display: flex;
  }
  
  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
 background-color: aquamarine;
    background-size: cover;
    color: white;
  }
  
@media all and (max-width: 550px){
  .main h1{
    color: black;
  }

  .navlinks{
    display: none;
  }
}